# Dependency directories
backend/node_modules/ 
frontend/node_modules/ 

# Optional eslint cache
backend/.eslintcache
frontend/.eslintcache

# dotenv environment variables file
backend/.env
frontend/.env